<head>
    <title>Administrator Login</title>
  </head>
  
  <body>
  
    <div class={{serverStatus_Error_Class}}>
      <i class={{serverStatus_Error_Box}}></i>
      {{serverStatus_Error_Message}}
      </div>
      <div class="wrapper">
        <div id="formContent">
          <!-- Icon -->
          <div class="fadeIn">
            <br><img src="assets/evertz-logo.png" id="icon" />
          </div>
          
          <!-- Tabs Titles -->
          <h2 class="active"> Administrator Login </h2><br><br>
          
          
      
          <!-- Login Form -->
          <form >
            <div class="form-group">
            <input type="text" id="login" #userName class="fadeIn inputText" required >
            <span class="floating-label" >UserName</span><br>
            </div>
            <div class="form-group">
            <input type="password" id="password" #password class="fadeIn inputText" required>
            <span class="floating-label" >Password</span><br>
            </div>
            <input type="submit" class="fadeIn" value="Log In" (click)="adminLogin(userName.value,password.value)">
          </form>
      
      
        </div>
      </div>
      
    
  
  </body>