.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#icon {
  position: absolute;
  margin-top:-18%;
  width:25%;
}
button[type=submit], input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 18px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Lucida Bright;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: rgb(215, 221, 226);
  position: relative;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: inherit;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;

  text-align: center;
}

 .button-group{
  text-align: center;
  position: relative;
}
