<mat-sidenav-container class="sidenav-container">
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Admin Control</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="wrapper">
          <img src="assets/evertz-logo.png" id="icon" />
        <div id="formContent">
            
            <div class="button-group">
          <button type="submit" (click)="addQuestion()">Add Question</button>
            </div>
          <div class="button-group">
              <button type="submit" (click)="resultsPage()">Results</button>
          </div>
          
          <div class="button-group">
              <button type="submit" (click)="resetPage()">Reset Test</button>
          </div>
          
          <div class="button-group">
              <button type="submit" (click)="configPage()">Update Config</button>
          </div>
        </div>
        
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  