.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.form-group{
  text-align: left;
  text-emphasis-color:black;
  color:black;
  
}
button[type=submit], input[type=submit] {
  width: 43%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-family: Lucida Bright;
text-align: center;
position: relative;
  left: 28%;
}
.btn{

border-radius: 50%;
float: none;
border: none;
background-color: #4CAF50;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
bottom : 25px;
position: relative;

}
.btn:hover {
  background-color: #4CAF50;
  color: white;
}

textarea {
  width: 25%;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;
  margin: 8px 0;
}

.selectbtn {
  width: 55%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-family: Lucida Bright;
text-align: center;
position: relative;
  left: 20%;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 25%;
  margin-bottom: 25px;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }

select {
font: inherit;
height: 40px;
left:80px;
}