.sidenav-container {
  height: 100%;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }
  th {
    width: 150px;
  }
  .btn
{  
  background-color: #4CAF50;
  color: white;
}
mat-sidenav-content{
  position: relative;    
  background-color: rgb(215, 221, 226);
}
.sidenav {
  width: 200px;
  background-color: rgb(228, 230, 225);
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 70%;
  height:7%;
  margin-bottom: 25px;
}
select{
  width:200px;
  height:35px;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}