<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <img src="assets/evertz-logo.png" id="logo">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item href="/addquestion">Add Question</a>
          <a mat-list-item href="/reset">Reset Test</a>
          <a mat-list-item href="/config">Update Config</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Results</span>
      </mat-toolbar>
     
      <!-- Add Content Here -->
      <div class={{serverStatus_Error_Class}}>
          <i class={{serverStatus_Error_Box}}></i>
          {{serverStatus_Error_Message}}
      </div>
      <br>
    
      &nbsp;&nbsp; <select (change)="selectedCollege($event)">
          <option value ="">Select College</option> 
          <option *ngFor="let college of collegeList" [value]="college.Id">{{college.Name}}</option>
      </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <input type="text" [(ngModel)]="cutOff" placeholder="CutOff" class="inputText" style="width:200px;height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn" (click)="getResult()">Get Result</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select (change)="sortBy($event)">
          <option value ="">Sort By</option> 
          <option *ngFor="let sort of moduleList" [value]="sort">{{sort}}</option>
      </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <select (change)="sortOrder($event)">
          <option value ="DSC">DSC</option> 
          <option value ="ASC">ASC</option> 
      </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn" (click)="sortResult()">Sort Result</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn" (click)="ExportToExcel()">Export</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <div  *ngIf="isCountAvailable != 0; then displayCount"></div>
        <ng-template #displayCount>
            <div>Total Students Selected: {{isCountAvailable}}</div>
        </ng-template>
      <br><br>
      <!--block to display questions-->
     <table #table class="space">
        <tr>
          <th >
              S.No
          </th>
          <th >
              RegisterNumber
          </th>
          <th>
              Name
          </th>
          <th *ngFor="let module of moduleList">
                {{module}}
          </th>
        </tr>
        <tr *ngFor="let result of resultList; let score=index">
            <td>{{score+1}}</td>
            <td>{{result.RegisterNumber}}</td>
            <td>{{result.Name}}</td>
            <td *ngFor="let module of moduleList">
              {{bindResult(module,score)}}
            </td>
        </tr>
      </table>
     
    </mat-sidenav-content>
  </mat-sidenav-container>
