<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <img src="assets/evertz-logo.png" id="logo">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="/addquestion">Add Question</a>
        <a mat-list-item href="/results">Results</a>
        <a mat-list-item href="/config">Update Config</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Reset Test</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="body-main">
      <div class={{serverStatus_Error_Class}}>
          <i class={{serverStatus_Error_Box}}></i>
          {{serverStatus_Error_Message}}
      </div>
      
      
      
      
      <div class="form-group">
          <input type="text" required #registerNumber  class="form-control" placeholder="" style="margin-top : 3%;"/>
          <span class ="floating-label" >Enter Register Number</span><br>
        </div>
        <div class="form-group">
          <select class="form-control" required (change)="selectChangeHandler($event)" >
            <option disabled hidden></option>
            <option *ngFor="let questionType of questionTypeList" [value]="questionType">{{questionType}}</option>
            </select>
            <span class="floating-label">Select Reset Type</span>
          </div>
          
            
             <br>
              <button type="submit" name="start"  class="btn" (click)="resetTest(registerNumber.value)">Reset</button><br>
              <div class = "display" >
                  <h5>{{resetStatus}}</h5>
                  <h5>{{questionStatus}}</h5>
              </div> 
              
              <p class="errorDisplay">
                  <br>
                  <br>
              </p>
              </div>
             
 
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  