mat-sidenav-content{
  position: relative;    
  background-color: rgb(215, 221, 226);
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(228, 230, 225);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.regnumber{
  text-align: center;
  
}
.display{
  text-align:justify;
   margin-left:33%;
   margin-top:2%; 
 
}

button[type=submit]{
  border-radius: 50%;
    float: none;
    border: none;
    background-color: #4CAF50;
    padding: 24px 48px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    position: relative;
    
    color: white;
    left: 43%;
 
   
   
   
}


.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }

  #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 70%;
    height:7%;
    margin-bottom: 25px;
  }

.form-group {
  
  position: relative;
  font-family: 'Montserrat';
  font-size: 0.9em;
  font-weight: 500;
  
   }

  .form-control{
    width: 30%;
    height:30%;
    margin-left:35%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    position: relative;
   
  }
  .container {
    
    width: 45%;
    position: relative;
    margin: 0 auto;
   }

   @media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%; } }

    
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
select:focus ~ .floating-label,
select:not(:focus):valid ~ .floating-label{
  top: -35%;
  left: 35.2%;
  font-size: 1em;
  opacity: 1;
  color: darkgoldenrod;

}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 38%;
  top:1.4em;
  transition: 0.2s ease all;
  color: #999;
  font-family: 'Montserrat';
  font-size: 1.1em;
  font-weight: 500;
}    
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box; 
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/montserrat/Montserrat-Light.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/montserrat/Montserrat-Italic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }


  
