<div appNoRightClick>
<ngx-loading-bar></ngx-loading-bar>
<div class={{serverStatus_Error_Class}}>
        <i class={{serverStatus_Error_Box}}></i>
        {{serverStatus_Error_Message}}
</div>

<div  *ngIf="isQuestionsLoaded == 'false'; then displayLoading else displayQuestions"></div>
<ng-template #displayLoading>
    <div id="loader"></div>
</ng-template>
<ng-template #displayQuestions>
    <div>
            <nav class="navbar navbar-expand-md  " >
                    <img src="assets/evertz-logo.png" alt="Logo" id="logo" >
                    <div class="nav-center mr-auto">
                            <h4 class="title " >Evertz India  </h4>
                            <h4 class="title-2" >Online Test  </h4>
                    </div>
                    
                    
                    <div class="nav-right " >
                           <h4 class="name"> {{studentName}} </h4>
                           <h4 class="regno"> {{registerNumber}} </h4>
                           
                    </div>  
            </nav>
        <div class="container-fluid display">
            <div class="row content">
                <div class="col-sm-3 ">

                <div *ngFor="let module of moduleName">
                    <div *ngIf="checkModule(module)"> 
                        <h4 class = module><u> {{module}} </u></h4><br>
                    </div>

                        <div class="first-row" *ngFor="let totalQuestions of sortedModuleQuestions ; let i = index">
                            <div *ngIf="checkModuleQuestion(totalQuestions)">
                                    <input type="button" id="question-id" class="btn btn-{{buttonColor[totalQuestions.Id-1]}} mr-1" value={{totalQuestions.Id}} name={{totalQuestions.Id}} (click)="displayQuestionOnUI(totalQuestions.Id)">
                            </div>
                        </div>
                    <div class="vl">  </div>
                </div>
                </div>

                <div class="col-sm-9 "> 
                    <div class ="header">
                            
                            <h4 class = "time"><countdown #countdown [config] = "{leftTime :mcqTimer}" (event)="finishTest(countdown)"> $!m!:$!s! </countdown></h4>
                            <h4 class = "time">Time Left - </h4>
                          
                    </div>
                        
                    <form (ngSubmit) = "onSubmit($event)"> 
                                        
                        <div class ="questions">  
                            
                            <table class="table" >
                                <tr>
                                    <td class="id">{{questionToDisplay.Id}})</td>
                                    <td class="question" [innerHTML]="questionOnHTML"></td>
                                </tr>
                            </table>
                            
                            <div class="option" *ngFor="let displayOptions of questionToDisplay.QuestionOptions">
                                <div *ngIf="displayOptions.OptionId == optionIdSelectdByCandidate; then checkedRadioButton else unCheckedRadioButton"></div>
                                <ng-template #checkedRadioButton>
                                    <input  type ="radio" name ="option" style="margin-bottom:1%;" value ="{{displayOptions.OptionId}}" checked (change)="radioChangeHandler($event)"> {{displayOptions.OptionValue}}
                                </ng-template>
                                <ng-template #unCheckedRadioButton>
                                        <input  type ="radio" name ="option" style="margin-bottom:1%;" value ="{{displayOptions.OptionId}}" (change)="radioChangeHandler($event)"> {{displayOptions.OptionValue}}
                                    </ng-template>
                            </div>
                            
                        </div> 
                            <div class = "buttons">
                                <div  *ngIf="isLastQuestion == 'false'; then enablenextbutton else disablenextbutton"></div>
                                <ng-template #enablenextbutton>
                                    <button type="button" class="save mr-3" (click)="nextQuestionClicked()">Save/Next Question</button>
                                    <button type="button" class="submit" data-toggle="modal" data-target="#submitPrompt" > Submit </button> <br><br>
                                    <h6><b><u>Save/Next Question:</u></b> Saves the answer to the database if selected, if not selected, navigates to the next question.</h6><br>
                                    <h6><b><u>Submit Test:</u></b> Saves the answers to the database and completes the test. Only choose this option if you want to discontinue the test. You will not be able to retake the test if this button is pressed.</h6>
                                </ng-template>
                                <ng-template #disablenextbutton>
                                        <button type="button" class="submit" data-toggle="modal" data-target="#submitPrompt" > Submit </button> <br><br>
                                        <h6><b><u>Save/Next Question:</u></b> Saves the answer to the database if selected, if not selected, navigates to the next question.</h6><br>
                                        <h6><b><u>Submit Test:</u></b> Saves the answers to the database and completes the test. Only choose this option if you want to discontinue the test. You will not be able to retake the test if this button is pressed.</h6>
                                </ng-template>
                            </div>

                            
                            <!-- The Modal -->
                            
                            <div  class="modal" id="submitPrompt" data-backdrop="static" data-keyboard="false" >
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                                <div class="content" style="padding:2%; margin-left:10%; height:20%;">
                                                        <div> Are you sure you want to submit and move to Coding Section? </div> 
                                                        <div style="margin-bottom:2%;"> You will not be able to attempt this section again.</div>
                                                    </div>
                                            <div class="modal-footer">
                                                
                                                <button type="submit" id="yes" class="btn btn-success">Yes</button>
                                                
                                                <button type="button" id="no" class="btn btn-danger" data-dismiss="modal">No</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            
                    </form>      
                </div>   

            </div>
        </div>
    </div>
</ng-template>
</div>