body{
  font-family: 'Montserrat'
}

#logo {
     width: 12%;
}

h3 {
    width: 75%;
    margin-right: auto;
    padding-top: 10px;
}

.modal{
  font-family:'Montserrat';
  font-weight:600;
  text-align:justify;
}

.module {
    text-align: center;
    text-transform:uppercase;
    margin-top: 5%;
    font-size:22px;
}

h5 {
    text-align: center;
    margin-left: 55%;
    margin-right: auto;
    padding-top: 10px;
    width: 30%;
    margin-bottom: 25px;
}

.questions{
 
  font-weight: 500;
  font-size: 17px;
  
}

.table{
  margin-left:2%;
  margin-top: 8.5%;
  font-family:'Montserrat';
  font-weight:600;
}

.table td{
    border-top:none;
  }

  #yes, #no{
    width: 15%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
  }

  .save:hover, .submit:hover, #yes:hover, #no:hover{
    background-color: rgb(0, 105, 217);
  }

  .save{
    width: 20%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 15px 17px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-color: rgb(33, 136, 56);
  }


  .save:focus{
    outline: none;
  }
 

  .submit{
    width: 15%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 15px 17px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-color: rgb(200, 35, 51);
  }

  .submit:focus{
    outline: none;
  }
  
.option{
  margin-left:6%;
  font-family:'Montserrat';
  font-weight:600;
}

.id{
  vertical-align: top;
  text-align:left;
  width:40px; 
}

.question{
  vertical-align: top; 
}

.buttons{
    margin: 3% 6%;
   
}

h6{
  font-family:'Montserrat';
}

.vl {
    border-left: 2px solid rgb(202, 202, 202);
    position: absolute;
    left: 100%;
    top: 0;
    bottom : 0;

  }

input[type="radio"]{
    margin-right: 0.5%;
}

.first-row {
  display: block;
  float: left;
  width: 20%;
}

.first-row.last {
  margin-right: 0;
}

.title{
  display:block;
  text-align:center;
  text-transform:uppercase;
  font-weight:700;
  font-size: 23px;
}

.title-2{
  display:block;
  text-align:center;
  font-weight:500;
  font-size:20px;
}

.name, .regno{
  font-weight:500;
  font-size:20px;
  display:block;
}

.nav-center{
  margin-left:15%;
  width:40%;
}

.navbar{
  font-family: 'Montserrat';
  font-weight:700;
  font-size: 20px;
  background-color: rgb(230, 225, 225);
  z-index: 100;
  transition: background-color 1s ease 0s;
}

#question-id{
   width:75%;
   line-height: 35px;
   text-align: center;
   padding: 0;
   margin-bottom: 22%;
   font-family:'Montserrat';
   font-weight:600;
 } 

.col-sm-3{
  padding: 3%;
}

.header{
  margin-right:8%;
  font-family: 'Montserrat';
}

.time{
  float:right;
  margin-top:3%;
  margin-left:0.5%;
  font-size: 22px;
  color: peru;
  
  }


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}


.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
  
  }
  .isa_info {
    color: #00529B;
    background-color: #BDE5F8;
  }
  .isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
  .isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
  }
  .isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
  }
  
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("/assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
  