<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <img src="assets/evertz-logo.png" id="logo"/>
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item href="/addquestion">Add Question</a>
          <a mat-list-item href="/results">Results</a>
          <a mat-list-item href="/reset">Reset Test</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Update Config</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="body-main">
      <div class={{serverStatus_Error_Class}}>
          <i class={{serverStatus_Error_Box}}></i>
          {{serverStatus_Error_Message}}
      </div>
      <div class={{serverStatus_Success_Class}} role = "alert">
          {{serverStatus_Success_Message}}
        </div>
      
  
              <h2 class="headertekst"> Config Addition</h2><br>
              <div class="selectbtn" >
              <input type="text" [(ngModel)]="collegeName" placeholder="College Name" class="inputText" style="width:200px;height:30px;">&nbsp;&nbsp;
              
              <button class="btn" (click)="addCollege()" id="bt" >Add College</button>  <br><br>
              
              <input type="text" [(ngModel)]="degree" placeholder="Degree" style="width:200px;height:30px;">&nbsp;&nbsp;
              <button class="btn" (click)="addDegree()" id="bt" >Add Degree</button>  <br><br>
  
              <input type="text" [(ngModel)]="branch" placeholder="Branch" style="width:200px;height:30px;">&nbsp;&nbsp;
              <button class="btn" (click)="addBranch()" id="bt" >Add Branch</button>  <br><br><br>
              <br><br>
              
              <h3 class="headertekst"> Select College</h3><br>
              <select class="clglist" (change)="selectCollege($event)">
                <option value ="">Select College</option> 
                <option *ngFor="let clg of College" [value]="clg.Id">{{clg.Name}}</option>
                </select> &nbsp;&nbsp;&nbsp;
                <button class="btn" (click)="setCollege()" id="bt" >Set College</button>  <br><br><br> 
              
  
  
  
              <h3 class="headertekst"> User Addition</h3><br>
  
              <input type="text" [(ngModel)]="userName" placeholder="Username" style="width:200px;height:30px;">&nbsp;&nbsp;
              <input type="password" [(ngModel)]="password" placeholder="Password" style="width:200px;height:30px;"><br>  <br>
              <input type="password" [(ngModel)]="confirmpassword" placeholder="Confirm Password" style="width:200px;height:30px;"><br>  <br>
  
              <button class="btn" (click)="addUser()" id="bt" >Add User</button><br><br><br><br><br>
  
  
              <h3 class="headertekst"> Change Password</h3><br>
  
              <input type="text" [(ngModel)]="userName1" placeholder="Username" style="width:200px;height:30px;">&nbsp;&nbsp;
              <input type="password" [(ngModel)]="oldpassword" placeholder="Old Password" style="width:200px;height:30px;"><br>  <br>
              <input type="password" [(ngModel)]="newpassword" placeholder="New Password" style="width:200px;height:30px;"><br>  <br>
              <button class="btn" (click)="changePassword()" id="bt" >Change Password</button><br><br><br><br><br>
            </div>
            </div>
               
    </mat-sidenav-content>
  </mat-sidenav-container>
  