.body-main{
  background-color: rgb(215, 221, 226);
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(228, 230, 225);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 70%;
  height:7%;
  margin-bottom: 25px;
}
select {
  font: inherit;
  height: 35px;
  width:20%;
  position: relative;
  text-align: center;
  left:25%;
 
}
.btn
{
  float: none;
  border: none;
  background-color: #4CAF50;
  padding: 6px 7px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  bottom : 2px;
  position: relative;
  color: white;
}

.btn1
{
  background-color: #4CAF50;
  padding: 6px 7px;
  font-size: 12px;
  border: none;
  float: none;
  cursor: pointer;
  text-align: center;
  bottom : 35px;
  position: relative;
  color: white;
  left:20px;
}

.selectbtn{
 
  position: relative;
  text-align: center;
}

.headertekst{
  text-align: center;
}
.setpriority{
  left:20px;
  bottom :1px;
}
.setmodule{
  text-align: center;
  right: 120px;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
  }
  .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  }
  select{
   
    height: 30px;
    width:200px;
    position: relative;
    text-align: center;
    left:10px;
    
    }