<head>
        <title>Evertz Interview - Written Test</title>
        <link rel='shortcut icon' href='assets/evertz_favicon.ico'/>
      </head>
      <div appNoRightClick>
      <body>
            
            <div  *ngIf="isQuestionsLoading == 'true'; then displayLoading"></div>
            <ng-template #displayLoading>
                <div id="loader"></div>
            </ng-template>
           <div class="main">
                <section class="register">
                    <div class="container">
                        <div class="register-content">
    
                            <!--Evertz logo-->
                            <div class="logo"> <img class="evertz_logo" src="assets/evertz-logo.png"> </div>
                    
                            <!--Alert if any errors on loading page-->
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    
                            <!--Form for collecting data-->
                            <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit($event, RegisterNumber.value, StudentName.value, DOB.value, Gender.value, College.value, Degree.value, Branch.value, YearOfPassing.value, CGPA.value, Email.value, Mobile.value)">
                    
                                <h2 class="form-title">Registration</h2>
    
                                <!--To get RegisterNumber-->
                                <div class="form-group">
                                <input type="text" class="form-control" required #RegisterNumber formControlName="registrationNumber"  [ngClass]="{ 'is-invalid': submitted && formControls.registrationNumber.errors }"/>
                                    <span class="floating-label" >Registration Number (Uppercase Characters Only)</span>
                                    <div *ngIf="submitted && formControls.registrationNumber.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.registrationNumber.errors.required" class="suggestion" >University Registration Number is required</div>
                                        <div *ngIf="formControls.registrationNumber.errors.pattern" class="suggestion">Only Uppercase characters are allowed</div>
                                    </div>
                                </div>
                    
                                <!--To get StudentName-->
                                <div class="form-group">  
                                    <input type="text" class="form-control" required #StudentName formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
                                        <span class="floating-label" >Full Name</span>
                                    <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.firstName.errors.required" class="suggestion">Name is required</div>
                                        <div *ngIf="formControls.firstName.errors.pattern" class="suggestion">Only Characters are allowed</div>
                                    </div>
                                </div>
                    
                                <!--To Get DOB-->
                                <div class="form-group">
                                    <input type="text" required class="form-control" #DOB formControlName="dateOfBirth" placeholder="Date of Birth" [ngClass]="{ 'is-invalid': submitted && formControls.dateOfBirth.errors }" id="date" onfocus="(this.type='date')">
                                    <span class="floating-label2" >Date of Birth</span>
                                    <div *ngIf="submitted && formControls.dateOfBirth.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.dateOfBirth.errors.required" class="suggestion">DOB is required</div>
                                    </div>
                                </div>
                    
                                <!--To Get Gender-->
                                <div class="form-group" >
                                    <select class="form-control" required formControlName="gender" #Gender [ngClass]="{ 'is-invalid': submitted && formControls.gender.errors }">
                                        <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>  
                                    </select>
                                    <span class="floating-label" >Gender</span>
                                    <div *ngIf="submitted && formControls.gender.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.gender.errors.required" class="suggestion2">Please select your gender</div>
                                    </div>
                                </div>
                    
                                <!--To Get College Details-->
                                <div class="form-group">    
                                    <select class="form-control" required formControlName="collegeName" #College [ngClass]="{ 'is-invalid': submitted && formControls.collegeName.errors }">
                                        <option *ngFor="let college of collegeName" [value]="college.Id">{{college.Name}}</option>  
                                    </select>
                                    <span class="floating-label" >College</span>
                                    <div *ngIf="submitted && formControls.collegeName.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.collegeName.errors.required" class="suggestion2">Please select your college</div>
                                        
                                    </div> 
                                </div>
                    
                                <!--To Get Degree-->
                                <div class="form-group">  
                                    <select class="form-control" required formControlName="degree" #Degree [ngClass]="{ 'is-invalid': submitted && formControls.degree.errors }"> 
                                        <option *ngFor="let deg of degree" [value]="deg.Id">{{deg.Name}}</option>
                                    </select>
                                    <span class="floating-label" >Degree</span> 
                                    <div *ngIf="submitted && formControls.degree.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.degree.errors.required" class="suggestion2">Please select your degree</div>
                                    </div>
                                </div>
                    
                                <!--To Get Branch-->
                                <div class="form-group">  
                                    <select class="form-control" required formControlName="stream" #Branch [ngClass]="{ 'is-invalid': submitted && formControls.stream.errors }"> 
                                        <option *ngFor="let stm of stream" [value]="stm.Id">{{stm.Name}}</option>
                                    </select>
                                    <span class="floating-label" >Branch</span>
                                    <div *ngIf="submitted && formControls.stream.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.stream.errors.required" class="suggestion2">Please select your branch</div>
                                    </div>
                                </div>
                    
                                <!--To Get Year of Passing-->
                                <div class="form-group">
                                    <input type="text"  class="form-control" required #YearOfPassing formControlName="yearOfPassing"  [ngClass]="{ 'is-invalid': submitted && formControls.yearOfPassing.errors }">
                                    <span class="floating-label" >Year Of Passing (Eg. 2020)</span>
                                    <div *ngIf="submitted && formControls.yearOfPassing.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.yearOfPassing.errors.required" class="suggestion">Year of Passing is required</div>
                                        <div *ngIf="formControls.yearOfPassing.errors.pattern" class="suggestion">Year of Passing in YYYY format</div>
                                    </div>
                                </div>
                    
                                <!--To Get CGPA-->
                                <div class="form-group">
                                    <input type="text" class="form-control" required #CGPA formControlName="overallCGPA"  [ngClass]="{ 'is-invalid': submitted && formControls.overallCGPA.errors }">
                                    <span class="floating-label" >Overall Percentage (Eg. 80.20)</span>
                                    <div *ngIf="submitted && formControls.overallCGPA.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.overallCGPA.errors.required" class="suggestion">Overall Percentage is required</div>
                                        <div *ngIf="formControls.overallCGPA.errors.pattern" class="suggestion">Only Percentage allowed. If CGPA, multiply by 10 Eg. (8.52) 85.20</div>
                                    </div>
                                </div>
                    
                                <!--To Get Email-->
                                <div class="form-group">
                                    <input type="text" class="form-control" required #Email formControlName="personalEmailId" placeholder="" [ngClass]="{ 'is-invalid': submitted && formControls.personalEmailId.errors }">
                                    <span class="floating-label" >Personal Email Address</span>
                                    <div *ngIf="submitted && formControls.personalEmailId.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.personalEmailId.errors.required" class="suggestion">Personal E-mail is required</div>
                                        <div *ngIf="formControls.personalEmailId.errors.email" class="suggestion">Email must be a valid email address with '@' and '.'</div>
                                    </div>
                                </div>
                    
                                <!--To Get Mobile Number-->
                                <div class="form-group">
                                    <input type="text" class="form-control" required #Mobile formControlName="personalMobileNumber"  [ngClass]="{ 'is-invalid': submitted && formControls.personalMobileNumber.errors }">
                                    <span class="floating-label" >Personal Mobile Number (10 digits)</span>
                                    <div *ngIf="submitted && formControls.personalMobileNumber.errors" class="invalid-feedback">
                                        <div *ngIf="formControls.personalMobileNumber.errors.required" class="suggestion">Mobile Number is required</div>
                                        <div *ngIf="formControls.personalMobileNumber.errors.pattern" class="suggestion">Mobile Number must be valid. 10 digits</div>
                                    </div>
                                </div>
                    
                              
                    
                                <!--To Get Programming Language-->
                                <h3>Choose one Programming language</h3>
                                <h6 style="text-align:center; font-size:12px; color:red;">(The MCQ and Coding question will be populated based on the Programming module selected)</h6>
                                <div class="form-group">
                                    <div class="radioButtons">
                                        <div *ngFor="let program of programme">
                                            <input type="radio" name="Programme" class="single-radio" [value]="program.Id" (change)="radioChangeHandler($event)" >
                                            <span class="radio-label">{{program.Name}}</span>
                                        </div>
                                    </div>
                                </div>
                    
                                <!--Submit Button to submit the details-->
                  <button type="submit" name="start" class="form-submit"  data-target="#submitPrompt">Register</button>
                  <br><br>
                  <div class={{serverStatus_Error_Class}}>
                        <i class={{serverStatus_Error_Box}}></i>
                        {{serverStatus_Error_Message}}
                     </div>
                  <p class="errorDisplay">
                      <br>
                      <br>
                  </p>
                  
                         
                        </form>
                    <!-- The Modal --> 
                        
                        
                            
                                
                        <div  class="modal" id="submitPrompt" data-backdrop="static" data-keyboard="false" >
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                <div class="modal-body"> 
                                    <h3 id="instructionHeading">
                                        <b><u>INSTRUCTIONS</u></b>
                                    </h3>
                                    <br>
                        
                                    <div class = "instructions">
                                        <h6>1. Total duration of the test is 90 minutes (MCQ - 60 minutes & Coding - 30 minutes).</h6>
                                        <h6>2. You will be presented with 60 MCQ questions and 1 Coding question to answer.</h6>
                                        <h6>3. When the "Start Test" button is pressed, your time will start.</h6>
                                        <h6>4. No negative marking for incorrect answers.</h6>
                                        <h6>5. Each question carries 1 mark.</h6>
                                        <h6>6. The coding question will be populated based on the Programming module selected.</h6>
                                        <h6>7. Other modules. SQL, Networking, Linux, Aptitude and Broadcast consists of 10 questions each and need to be answered.</h6>
                                        <h6>8. Navigation between different questions is possible by choosing the question from the left navigation panel in the next screen.</h6>
                                        <h6>9. If the timer runs out after 60 minutes, your answers will be auto saved and the test will automatically exit.</h6>
                                        <h6>10. Please do not refresh or close the browser. Let the invigilator know if the browser is closed so the test can be re-taken.</h6>
                                        <h6>11. Pressing Esc button, F5 button, Reload button, Opening start menu, Opening any other application will exit the test automatically, and the test cannot be taken.</h6>
                                    </div>
                                </div>
                            <div class="modal-footer">
                                
                               
                                
                                <button type="button" id="start" class="btn btn-success" (click)="naviQuestions(RegisterNumber.value, StudentName.value)" >Start Test</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                       
                    
                       
                    </div>
                </div>
            </section>
        
    </div>
</body>
</div>