html { height: 100%; overflow:auto; }
input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
  top: -55%;
  left: 0.2%;
  font-size: 14px;
  opacity: 1;
  color: darkgoldenrod;
}

.floating-label2 {
  position: absolute;
  pointer-events: none;
  left: 2.5%;
  top:0.6em;
  transition: 0.2s ease all;
  opacity: 0;
  font-family: 'Montserrat';
  font-size: 0.9em;
  font-weight: 500;
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    text-transform: uppercase;
  }

 [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

 [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
    .evertz_logo {
      display:inherit;
      margin:auto;
      padding-bottom: 4%;
      width: 40%;
      }
  
  h4 {
    display:block;
    text-align: center;
  }
  
  .radioButtons {
    position: relative;
      left: 45%;
      text-align: left;
    line-height: 15pt;
   }
  
   input[type="radio"]{
    margin-right: 1%;
    margin-bottom: 2%;
  }



  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 10%;
    width: 16px;
    height: 16px;

  }
  
  
  

  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }

  input[type=radio] {
    appearance: radio  !important;
    -moz-appearance: radio  !important;
    -webkit-appearance: radio  !important;
    -o-appearance: radio  !important;
    -ms-appearance: radio  !important; }
  
  

  
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; }
  
    h3{
        line-height: 1.66;
        margin: 0;
        padding: 0;
        font-weight: 500;
        color: #222;
        font-family: 'Montserrat';
        font-size: 1.4em;
        text-transform: uppercase;
        text-align: center;
        
    }
  .clear {
    clear: both; }
  
  body {
    
    overflow-x: hidden;
    background-image: url("/assets/gradient.jpg");
    height: 100%;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    
  }
  
  [type="date"]{
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 500;
    color: black;
  }

  select{
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: 500;
    color: black;
  }

  #logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      width: 10%;
      margin-bottom: 25px;
  }
  
  .container {
    width: 50%;
    position: relative;
    margin: 0 auto;
   }
  
  .display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
  .display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center; }
  
  .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  
  .register-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; }
  
  .form-group {
    
    text-align: center;
    position: relative;
    margin-bottom: 5%
    
 }

 input{
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: 500;
    color: black;
 }
  select{
      margin-bottom: 5%;
  }
   .form-title{
       margin-bottom: 5%;
   }
    
    .form-input:focus {
      border: 1px solid transparent;
      -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
      -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
      -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
      border-image-source: linear-gradient(to right, #9face6, #74ebd5);
      -webkit-border-image-slice: 1;
      border-image-slice: 1;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      background-origin: border-box;
      background-clip: content-box, border-box; }
     
      .form-submit:hover, #start:hover{
        background-color: rgb(0, 105, 217);
      }
      .form-submit:focus{
        outline: none;
      }
      
    
      .form-submit{
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        padding: 17px 15px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        border: none;
        background-color: rgb(33, 136, 56);
      }

  
  @media screen and (max-width: 768px) {
    .container {
      width: calc(100% - 40px);
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    .register-content {
      padding: 50px 25px; } }
  
  /*# sourceMappingURL=style.css.map */
  
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
select:focus ~ .floating-label,
select:not(:focus):valid ~ .floating-label{
  top: -55%;
  left: 0.2%;
  font-size: 14px;
  opacity: 1;
  color: darkgoldenrod;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 2.5%;
  top:0.6em;
  transition: 0.2s ease all;
  color: #999;
  font-family: 'Montserrat';
  font-size: 0.9em;
  font-weight: 500;
}

.suggestion {
    display: flex;
    font-family: 'Montserrat';
    justify-content: flex-end;
    color: red;
    font-size: 1em;
    font-weight: 500;
}
.suggestion2 {
    display: flex;
    font-family: 'Montserrat';
    justify-content: flex-end;
    color: red;
    font-size: 1em;
    font-weight: 500;
    margin-top: -4%;
}

::placeholder {
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: 500;
    color: #999;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    position: relative;
    margin-bottom: 5%;
    
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    text-align: left;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align: left;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    text-align: left;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    text-align: center;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10% 0px;
    padding-left: 1%;
    padding-right: 1%;
    font-size:1em;
    vertical-align:middle;
    
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

      /* Montserrat-300 - latin */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        src: url("/assets/fonts/montserrat/Montserrat-Light.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        src: url("/assets/fonts/montserrat/Montserrat-Italic.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        src: url("/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
        /* IE9 Compat Modes */ }
      @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 900;
        src: url("/assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
      

 .modal-lg{
    
    max-width: 50%;
    max-height: 90%;}

    .modal-footer{
        padding-top: 3%;
    }
  
    #start{
          margin:auto;
          display:block;
          padding: 2%;
          width:20%;
          font-size: 14px;
          font-weight: 700;
          text-transform:uppercase;
    }
    
    .modal-content  {
        display:block;
        font-weight: 900;
        padding:5%;
        font-family:'Montserrat';
        -webkit-border-radius: 3% !important;
        -moz-border-radius: 3% !important;
        border-radius: 3% !important; 
    }
    

    .instructions{
        margin-top: 2%;
        text-align: justify; 
    }

    h6{
        margin-bottom: 2%;
    }