<div appNoRightClick>
        <ngx-loading-bar></ngx-loading-bar>
        <div class={{serverStatus_Error_Class}}>
                <i class={{serverStatus_Error_Box}}></i>
                {{serverStatus_Error_Message}}
        </div>
        <div  *ngIf="isQuestionsLoaded == 'false'; then displayLoading else displayQuestions"></div>
        <ng-template #displayLoading>
            <div id="loader"></div>
        </ng-template>
        <ng-template #displayQuestions>
            <div>
            <nav class="navbar navbar-expand-md  " >
                <img src="assets/evertz-logo.png" alt="Logo" id="logo" >
                <div class="nav-center mr-auto">
                        <h4 class="title " >Evertz India  </h4>
                        <h4 class="title-2" >Online {{moduleName}} Coding Test  </h4>
                </div>
                
                
                <div class="nav-right " >
                       <h4 class="name"> {{studentName}} </h4>
                       <h4 class="regno"> {{registerNumber}} </h4>
                       
                </div>  
        </nav>
        
        
        <div class="container-fluid display">
                <div class="row content">
                    <div class="col-sm-9 ">
            </div>
        
            <div class="col-sm-3 "> 
        
            <div class ="header" >             
                    <span class = "time"><countdown #countdown [config] = "{leftTime :codingTimer}" (event)="finishTest(countdown,editor)"> $!m!:$!s! </countdown></span>
                    <span class = "time">Time Left - </span>         
            </div>
            </div>
                </div>
        </div>
        <div>
        <h4 class="ques" [innerHTML]="question"></h4>
            
        </div>
        <div class ="intructions">
                    <hr>
                   <u> <b><h4 class="ins">Instructions:</h4></b></u>
        
                    
                    <h5 class = "fontHeading"> 1. Do not change the base code that is already available in the code window.</h5>
                    <h5 class = "fontHeading">2. Do not change the class names and function names in the code window. You can add print statements if needed anywhere in the program.</h5>
                    <h5 class = "fontHeading">3. Only populate your code where it is written "Type your code here".</h5>
                    <h5 class = "fontHeading">4. Keep saving your code frequently, this will keep your code safe in the database, incase of network blips, we can still retreive your code.</h5>
                    <h5 class = "fontHeading"> 5. Save Answer button will save the answer to the database.</h5>
                    <h5 class = "fontHeading"> 6. Compile Program button (Not applicable for Python language) will Save and Compile your program and provide the compilation status.</h5>
                    <h5 class = "fontHeading"> 7. Run Program button will Save, Compile and Run your code for pre-defined test cases.</h5>
                    <h5 class = "fontHeading"> 8. If there are 10 test cases for a program, few of them are shown to the candidate and few of them are hidden.</h5>
                    <h5 class = "fontHeading"> 9. Each test case carries 1 mark, if your code passes 5 test cases out of 10, your coding question mark will be 5.</h5>
                    <h5 class = "fontHeading">10. For Python Programs, every line should end with semicolon(;)</h5>
                    <h5 class = "fontHeading"> 11. Submit Program button will Save, Compile, Run and Submit your program. Pressing this will complete the test and the test cannot be re-taken</h5><br>           
                    <h4 class = "fontHeading1"> Happy Coding !!!</h4>
                    <hr><br><br>
                
        </div>
               
            <div>
        
                <form (ngSubmit) = "onSubmit($event,editor)">     
                    <div class="codingbox">
                        <ngx-monaco-editor #editor class="my-code-editor" [options]="editorOptions"  [(ngModel)]="code" name="editor"></ngx-monaco-editor>
                    </div>     
                <div class = "buttons">
                    <div  *ngIf="isNextButtonEnaled == 'true'; then displayNextButton else hideNextButton"></div>
                    <ng-template #displayNextButton>
                            <button type="button"   class="save mr-1  " (click)="saveProgram(editor)">SAVE PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="getSavedProgram()">GET SAVED PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="compileProgram(editor)">COMPILE PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="runProgram(editor)">RUN PROGRAM</button>
                            <button type="button"  class="submit "  data-toggle="modal" data-target="#submitPrompt">SUBMIT PROGRAM</button>
                            <!--<button type="button"  class="btn btn-success" (click)="nextProgram(editor)">Next Program</button>-->
                    </ng-template>
                        <ng-template #hideNextButton>
                            
                            <button type="button" class="save mr-1 "  (click)="saveProgram(editor)">SAVE PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="getSavedProgram()">GET SAVED PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="compileProgram(editor)">COMPILE PROGRAM</button>
                            <button type="button"  class="save mr-1"  (click)="runProgram(editor)">RUN PROGRAM</button>
                            <button type="button"  class="submit" data-toggle="modal" data-target="#submitPrompt">SUBMIT PROGRAM</button>
                        </ng-template>
                    </div>
                    
                    <!-- The Modal -->
        
                    <div  class="modal" id="submitPrompt" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-body"> Are you sure you want to submit the Coding Questions and leave the hall? </div>
                                    <div class="modal-footer">
                                        
                                        <button type="submit" id ="yes" class="btn btn-success">Yes</button>
                                        
                                        <button type="button" id ="no" class="btn btn-danger" data-dismiss="modal">No</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>  
                </form>
        
                <div class = "details">
                    <div *ngIf = "compilationResult == 'false'; then displayStatus"></div>
                    <ng-template #displayStatus>
                            
                    
                        <h5 class="bgPrimaryCheck">{{compilationStatus}}</h5>
                   
                    </ng-template>
                    <div *ngIf = "compilationResult == 'true'; then displayError"></div>
                    <ng-template #displayError>
                            <option disabled hidden></option>
                            <h5 class="bgPrimary">{{compilationStatus}}</h5>
                        
                    </ng-template>
               
                    <div  *ngIf="isTestCaseResultsAvailable == 'true'; then displayResults"></div>
                  
                    <ng-template #displayResults>
                            <div *ngIf = "testCaseFailed == 'false'; then displayRun"></div>
                            <ng-template #displayRun>
                                <h5 class="bgPrimaryCheck">Run Status Passed.</h5>
                            </ng-template>
                            <div *ngIf = "testCaseFailed == 'true'; then displayRunError"></div>
                            <ng-template #displayRunError>
                                <h5 class="bgPrimary">Run Status Failed.</h5>
                            </ng-template>
                                               
                        <div  *ngFor="let testStatus of testCaseResults">
                                <br>
                                
                               
                            <div  *ngIf="testStatus.TestCaseHiddenStatus == '0'; then displayTestCaseResults else displayTestCaseStatus"></div>
                            
                            <ng-template #displayTestCaseResults>
        
                                <div  *ngIf="testStatus.TestCaseResultStatus == '0'; then Success else failed"></div>
                                <ng-template #Success>
                                       
                                    <table class="output" readonly>
                                        <tr>
                                            <td class="a1"><b class="headSize1">Test Case {{testStatus.TestCaseId}}</b></td>
                                            <td class="b1"></td>
                                        </tr>
                                            <tr>
                                                    <td class="a"><b class="headSize">Test Case Status:</b> </td> 
                                                    <td class="b">Shown</td>
                                                  
                                                    </tr>
                                                    <tr>
                                                <td class="a" ><b class="headSize">Test Case Input:</b> </td>
                                                    <td class="b" >{{testStatus.TestCase}}</td>
                                                  
                                            </tr>
                                            <tr>
                                                <td class="a" ><b class="headSize">Your Program Output:</b> </td>
                                                <td class="b" [innerHTML]=testStatus.TestCaseOutput></td>
                                               
                                            </tr>
                                            <tr>
                                                <td class="a"><b class="headSize"> Expected Output:</b></td>
                                                <td class="b" [innerHTML]=testStatus.TestCaseExpectedOutput></td>
                                               
                                            </tr>
                                            <tr>
                                                <td class="a"><b class="headSize">Testcase Result:</b></td>
                                                    <td class="b"><h5 class="bgPrimary2">Passed</h5></td>
                                                
                                            </tr>
                                            </table> 
                                               <hr class="lineColor">
                                            </ng-template>
                                        
                                            <ng-template #failed>
                                                <table class="output" readonly>
                                                        <tr>
                                                                <td class="a1"><b class="headSize1">Test Case {{testStatus.TestCaseId}}</b></td>
                                                                <td class="b1"></td>
                                                            </tr>
                                                    <tr>
                                                         <td class="a"><b class="headSize">Test Case Status:</b></td>
                                                            <td class="b"> Shown</td>
                                                           
                                                    </tr>
                                                  
                                                    <tr>
                                                        <td class="a"><b class="headSize">Test Case Input:</b></td>
                                                        <td class="b"> {{testStatus.TestCase}}</td>
                                                        
                                                    </tr>
                                                   
                                                    <tr>
                                                        <td class="a"><b class="headSize">Your Program Output:</b> </td>
                                                            <td class="b" [innerHTML]=testStatus.TestCaseOutput></td>
                                                            
                                                    </tr> 
                                                 
                                                    <tr> 
                                                        <td class="a"><b class="headSize">Expected Output:</b> </td> 
                                                        <td class="b" [innerHTML]=testStatus.TestCaseExpectedOutput></td>
                                                        
                                                    </tr>
                                                
                                                    <tr>
                                                        <td class="a"><b class="headSize">Test Case Result:</b></td>
                                                            <td class="b"> <h5 class="bgPrimaryFailed1">Failed</h5></td>
                                                         
                                                    </tr>
                                                    
                                            </table>
                                            <hr class="lineColor">
                                            </ng-template>
                                        </ng-template>
                                        <ng-template #displayTestCaseStatus>
                                            <div  *ngIf="testStatus.TestCaseResultStatus == '0'; then SuccessHidden else failedHidden"></div>
                                            
                                            <ng-template #SuccessHidden>
                                              <table class="output" readonly>
                                                    <tr>
                                                            <td class="a1"><b class="headSize1">Test Case {{testStatus.TestCaseId}}</b></td>
                                                            <td class="b1"></td>
                                                        </tr>
                                                      
                                                <tr  > 
                                                 <td class="a"><b class="headSize">Test Case Status:</b></td>
                                                 <td class="b" > <h5 class="bColor" >Hidden</h5></td>
                                                
                                                </tr>
                                               
                                                <tr >
                                                 <td class="a"><b class="headSize" >Test Case Input:</b> </td>
                                                 <td class="b"><h5 class="bColor">Hidden</h5></td>
                                                </tr>
                                                
                                                <tr  >
                                                <td class="a"><b class="headSize">Your Program Output: </b></td>
                                                <td class="b"><h5 class="bColor">Hidden</h5></td>
                                                </tr>
                                               
                                                <tr >
                                                    <td class="a" ><b class="headSize">Expected Output:</b> </td>
                                                    <td class="b"><h5 class="bColor">Hidden</h5></td>
                                                </tr>
                                              
                                                
                                            
                                                <tr>
                                                        <td class="a"><b class="headSize">Test Case Result:</b></td>
                                                        <td class="b"> <h5  class="bgPrimary2" style="width:100%">Passed</h5></td>
                                                       
                                                    </tr>
                                                
                                                
                                             </table>
                                             <hr class="lineColor">
                                            </ng-template>
                                           
                                            
                                            <ng-template #failedHidden>
                                                   
                                                <table  class="output" readonly>
                                                        <tr>
                                                                <td class="a1"><b class="headSize1">Test Case {{testStatus.TestCaseId}}</b></td>
                                                                <td class="b1"></td>
                                                            </tr>
                                                    
                                                    <tr >
                                                     <td class="a"><b class="headSize">Test Case Status:</b></td>
                                                     <td class="b" > <h5 class="bColor">Hidden</h5></td>
                                                    </tr>
                                                  
                                                    <tr  >
                                                     <td class="a"><b class="headSize">Test Case Input:</b>
                                                          <td class="b" ><h5 class="bColor">Hidden</h5></td>
                                                    </tr> 
                                                   
                                                    <tr >
                                                        <td class="a"><b class="headSize">Your Program Output:</b></td>
                                                            <td class="b"><h5 class="bColor"> Hidden</h5></td>
                                                    </tr>
                                                    
                                                    <tr >
                                                        <td class="a"><b class="headSize" >Expected Output:</b> </td>
                                                            <td class="b"><h5 class="bColor">Hidden</h5></td>
                                                    </tr>
                                                 
                                                
                                                    <tr>       
                                                            <td class="a"><b class="headSize">Test Case Result: </b></td>
                                                                <td class="b"><h5 class="bgPrimaryFailed1" >Failed</h5></td>
                                                            
                                                        </tr>
                                                    
                                                    
                                   </table>
                                   <hr class="lineColor"> 
                               
                                    </ng-template>
                                    
                                
                            </ng-template>
                       
                            
                    </div>
               
                    </ng-template>
                
               
                   
                </div>    
           
            </div>
            </div>
        </ng-template>
    </div>