body{
  font-family: 'Montserrat'
}

#logo {
     width: 12%;
}



.title{
  display:block;
  text-align:center;
  text-transform:uppercase;
  font-weight:700;
  font-size: 23px;
}

.title-2{
  display:block;
  text-align:center;
  font-weight:500;
  font-size:20px;
}

.name, .regno{
  font-weight:500;
  font-size:20px;
  display:block;
}

.nav-center{
  margin-left:15%;
  width:40%;
}

.navbar{
  font-family: 'Montserrat';
  font-weight:700;
  font-size: 20px;
  background-color: rgb(230, 225, 225);
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.buttons{
  margin: 3% 6%;
 
}



textarea {resize: none;
  height:70%;}
/*.output{
  
   display: block;
   width:95%;
   height:70%;
   border-radius: 8px;
   padding:1%;
   margin-top: 2%;
   font-family: 'Montserrat';
   font-weight: 500;
   font-size: 17px;
  
   
  
}*/
table.output{
  
    table-layout: fixed;
    width: 95%; 
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px; 
  }
  


h5{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;

}


h3 {
  width: 75%;
  margin-right: auto;
  padding-top: 10px;
}
#yes, #no{
  width: 15%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.heading{
  text-align: center;
  margin-left: 55%;
  margin-right: auto;
  padding-top: 10px;
  width: 30%;
  margin-bottom: 25px;
}
.ques{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
}
.col-sm-3{
  padding-left: 6%;
}



.time{
  float:right;
  margin-top:3%;
  margin-left:0.5%;
  font-size: 22px;
  color: peru;
  
  
}
.header{
    margin-right:8%;
    font-family: 'Montserrat';
}
 


.codingbox{
padding-left: 6%;
margin-bottom: 1%;
}
h4{
  padding-left: 6%;
  margin-bottom: 1%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  }
.ins{
    padding-left: 6%;
    margin-bottom: 1%;
    font-family: 'Montserrat';
    font-weight: Bold;
    font-size: 17px;
    }
.fontHeading{
  padding-left: 6%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
}  
.fontHeading1{
  padding-left: 6%;
  font-family: 'Montserrat';
  font-weight: Bold;
  font-size: 18px;
}  

.my-code-editor {

height: 60vh;
width:65%

}

.hide{
  background-color: grey;
}
.tabBorder{
  border-style: 1px solid black;
  border-width:90%;
  border-bottom-style: line;
  border-collapse: collapse;
 
 
}

.bgPrimary{
  
  width: 65.2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: rgb(200, 35, 51);
}
.bgPrimaryCheck{
  
  width: 65.2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color:rgb(33, 136, 56);
}


.bgPrimaryFailed1{
  
  width: 100%;
  left: 50%;
 
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: rgb(200, 35, 51);
}




.bgPrimary2{
  
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none; 
  background-color:rgb(33, 136, 56);
}

.lineColor{
  border: 1px solid black;
}
.a{
  width:20%;
  padding-left: 6%;

}
.b{
 width:90%;
  
}

.a1{
  width:20%;
  background-color: rgb(184, 198, 207);

  

}
.headSize{
  padding-left: 6%;
}
.headSize1{
  padding-left: 6%;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px; 
}
.b1{
  width:90%;
  background-color:  rgb(184, 198, 207);
   
 }

.bColor{
  background-color: rgb(148, 144, 144);
  padding:3px 3px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 17px;
}

.table td{
  border-top:none;
 
}
table { border-collapse:collapse; }
table td { 
  border-bottom: 1px solid rgb(226, 223, 223);
  padding:8px 2px;
 }
.details{
padding-left:6%;

}



.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;

}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align:middle;
}

.passed{
  
  border: 5px solid green;
  width: 100%;
  background-color: green;
}

.failed{
  border: 5px solid red;
  width: 100%;
  background-color: red;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.save:hover, .submit:hover, #yes:hover, #no:hover{
  background-color: rgb(0, 105, 217);
}

.save{
  width: 13%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: rgb(33, 136, 56);
}
.save:focus{
  outline: none;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

.submit{
  width: 13%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: rgb(200, 35, 51);
}
.submit:focus{
  outline: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/montserrat/Montserrat-Light.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/montserrat/Montserrat-Italic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
