#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10px;
}

body {
	font-family: Lucida Bright;
}

h3 {
	text-align: center;
}

.questionNavigation {
	padding-top: 12px;
    padding-left: 12px;
	padding-bottom: 12px;
	padding-right: 20px;
	position: relative;
	width: 230px;
	border-right-color: black;
	border-right-style: solid;
}

.question {
	padding-top: 12px;
    padding-left: 12px;
	padding-bottom: 12px;
	padding-right: 12px;
	position: relative;
	width: 1200px;
	height:	600px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: left;
	font-family: "Lucida Bright";
}

.timer {
	padding-top: 12px;
    padding-left: 12px;
	
	padding-right: 12px;
	position: fixed;
	top: 5%;
	left: 88%;
	font-family: "Lucida Bright";
	font-size: 20px;
}

.notTakenbutton[type=submit] {
    width: 40px;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 5px;
    background-color: #669EFB;
    color: white;
    border-radius: 2px;
    cursor: pointer;
	font-family: Lucida Bright;
	font-size: 15px;
	font-weight:bold;
}

.takenbutton[type=submit] {
    width: 40px;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 2px;
    cursor: pointer;
	font-family: Lucida Bright;
	font-size: 15px;
	font-weight:bold;
}

.inProgressButton[type=submit] {
    width: 40px;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 5px;
    background-color: #FBFF00;
    color: black;
    border-radius: 2px;
    cursor: pointer;
	font-family: Lucida Bright;
	font-size: 15px;
	font-weight:bold;
}

.inProgressButton button:hover
{
	background-image:none;
	background-color:#B6B8B2;
}

td, th {
    padding: 8px;
}

.errorDisplay {
	color: red;
	font-family: Lucida Bright;
	text-align: center;
}

.submitAnswer {
	width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
	margin-left: 3px;
	margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: Lucida Bright;
}

.saveAnswers {
	width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
	margin-left: 3px;
	margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: Lucida Bright;
	position: relative;
	left: 44%;
}

.form-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #669EFB;
	color: #666;
	top: 10px;
	height: 25px;
	width: 25px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;     
	margin-right: 7px;
	outline: none;
}

.form-radio:hover {
	background-color: #4CAF50;
}
.form-radio:checked {
	background-color: #4CAF50;
}

.form-radio:checked::before {
	background-color: #4CAF50;
}