#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10px;
}

body {
	font-family: Lucida Bright;
}

form {
	padding-top: 10px;
	font-family: Lucida Bright;
}

input[type=text], [type=password],select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: Lucida Bright;
}

button[type=submit], input[type=submit] {
    width: 12%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: Lucida Bright;
	text-align: center;
	position: relative;
	left: 42%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.errorDisplay {
	color: red;
	font-family: Lucida Bright;
	text-align: center;
}

.centeringDiv, .radioButtons {
	text-align: center;
}

h3 {
	text-align: center;
}

.instructions {
	position: relative;
	left: 25%;
}

#instructionHeading {
	color: red;
}

::placeholder {
    color: red;
    opacity: 1;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: white;}

th: {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #B4E033;
    color: black;
}

.radioButtons {
	position: relative;
	left: 45%;
	text-align: left;
	line-height: 25pt;
}

.form-radio {
	margin-right: 10px;
}