#logo {
    width: 12%;
}

#failed{
    width: 30%;
    margin-left: auto;
  margin-right: auto;
    
  
  
  
}
#succes{
    width:35%;
    margin-left: auto;
    margin-right: auto;
}
 h5 {
    text-align: center;
    margin-left: 55%;
    margin-right: auto;
    padding-top: 10px;
    width: 30%;
    margin-bottom: 25px;
}

.colStatus {
    text-align: center;
    position: absolute;
    width: auto;
    top: 30%;
    left:30%;
    font-family: 'Montserrat';
    float:right;
}
.succescolStatus
{
  text-align: center;
    position: absolute;
    width: auto;
    top: 30%;
    left:33%;
    font-family: 'Montserrat';
    float:right;
}
.navbar{
    font-family: 'Montserrat';
    font-weight:700;
    font-size: 20px;
    background-color: rgb(230, 225, 225);
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  .title{
    display:block;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    font-size: 23px;
  }
  .nav-center{
    margin-left:15%;
    width:40%;
  }
  
  
  .title-2{
    display:block;
    text-align:center;
    font-weight:500;
    font-size:20px;
  }
  
  .name, .regno{
    font-weight:500;
    font-size:20px;
    display:block;
  }

  
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("/assets/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("/assets/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
  
