<div appNoRightClick>
<nav class="navbar navbar-expand-md  " >
        <img src="assets/evertz-logo.png" alt="Logo" id="logo" >
        <div class="nav-center mr-auto">
                <h4 class="title " >Evertz India  </h4>
                <h4 class="title-2" >Online Test  </h4>
        </div>
        
        
        <div class="nav-right " >
               <h4 class="regno"> {{registerNumber}} </h4>
               
        </div>  
</nav>

<div class = "colStatus" >
        <div *ngIf="status1">
                <img src="assets/info-error.jpg" alt="Logo" id="failed" class="center"><br><br><br>
                <h4 style="color:red">{{status1}}</h4>
        </div>
</div>
<div class = "succescolStatus">
        <div *ngIf="status2">
                <img src="assets/info-success.png" alt="Logo" id="succes" ><br><br><br>
                <h4 style="color:green">{{status2}}</h4>
        </div>
</div>
</div>